h1 {
  font-family: ;
  color: ;
}

form {
  background: #ccc;
  border-radius: 3px;
  padding: 10px;
}

input {
  display: block;
  margin: 10px;
  padding: 5px;
}

th {
  text-align: left;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.login, .create_account {
  margin-bottom: 10px;
}