	/*
 Width: 600px
 # Columns : 8
 Column width: 68px
 Gutter : 8px 

 */
.grid_1 { width: 68px; }
.grid_2 { width: 144px; }
.grid_3 { width: 220px; }
.grid_4 { width: 296px; }
.grid_5 { width: 372px; }
.grid_6 { width: 448px; }
.grid_7 { width: 524px; }
.grid_8 { width: 600px; }


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8
{
	margin: 0 2px 5px 0;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.container{
	width: 600px; 
	margin: auto;
	clear: both;
}

.big_container{
	width:1100px;
	margin: auto;
	clear: both;
	border: solid 1px #E3E3E3;
}

/*.container input{
	width: 200px;
	margin-left: 0px;
	clear: both;
}*/



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}