<div class="big_container">
  <div class="login">
    <form action='/user/login' method="post">
      <p id="header"><font color="grey">&nbsp;&nbsp;&nbsp;&nbsp;Angry Tweets</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" name="username" placeholder="Username" class="existing">
      <input type="text" name="password" placeholder="Password" class="existing">
      <input type="submit" value="Login" class="existing"></p>
    </form>
  </div>
</div>
<div class="container">
    <br><br><br><br><br>
    <div class="grid_2"></div>
    <center><div class="create_account grid_4">
        <h3>Sign Up!</h3>
        <h2><i>Make an Angry Tweet Now</i></h2>
       <form action='/user/new' method="post">
        <input type="text" name="name" placeholder="Your name" class="create">
        <input type="text" name="username" placeholder="Create a username" class="create">
        <input type="text" name="password" placeholder="Create a password" class="create">
        <input type="submit" value="Create Account" class="create">
      </form>
    </div></center>
    <div class="grid_2 omega"></div>
</div>




  <div class="home-feed">
  <h4>Check out some fellow tweeters!</h4>
    <ul>
      <% @last_ten_users.each do |user| %>
        <li class="tweet home-user"><center><a href="/user/<%= user.id %>"><%= user.username %></a></center></li>
      <% end %>
    </ul>
  </div>



