<div class="container">

  <div class="login">
    <h1>Welcome to Name Goes here</h1>
    <h3>Login to your account</h3>

    <form action='/user/login' method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
  </div>

  <div class="create_account">
    <h3>Create an account</h3>
     <form action='/user/new' method="post">
      <input type="text" name="name" placeholder="Your name">
      <input type="text" name="username" placeholder="Create a username">
      <input type="text" name="password" placeholder="Create a password">
      <input type="submit" value="Create Account">
    </form>
  </div>

</div>

<!--session[:user_id] = -->