<div class="container">
	<header>
    <h1 class="brand">Angry Tweets</h1>

    <form action="/tweet/new" method="post" accept-charset="utf-8" class="float-right grid_5 tweet-form standard-form">
      <textarea class="tweetbox" maxlength="140" name="tweet" placeholder="Tweet here..."></textarea>
      <input class="tweet-btn" type="submit" value="New tweet">
  </form>
	</header>

  <div class="user-controls">
    <p class="greeting">Hello, <%= @user.username %></p>
    <form action ='/follow/<%= @user.id %>'method="post">
      <input class="btn" type='submit' value="Follow me!">
    </form>
    <form action ='/logout' method="get">
      <input class="btn" type='submit' value="Logout">
    </form>
  </div>

  <div class="tweet-feed grid_5 float-right">
  	<ul>
  		<% @user_tweets.each do |tweet| %>
  			<li class="tweet"><%= tweet.content %></li>
  		<% end %>
  	</ul>
  </div>

</div>