s# Twitter.com/user/:user_id

<h1>User page</h1> # Show user name



<form action="/tweet/new" method="post" accept-charset="utf-8">
  <textarea name="tweet" rows="10" cols="30" placeholder="Tweet here...">
  </textarea>
  <input type="submit" value="New tweet">
</form>
